<!--create_user.html-->
{% extends 'layout.html' %}

{% block content %}
{% include 'user_url.html'%}

<div class="container drop-shadow-2xl w-11/12 p-8 mx-auto my-5 rounded-lg bg-gradient-to-r from-navyLightBlue to-navyBlue">
    <h2 class="text-2xl font-bold text-beige">Create User</h2>
    <div class="flex flex-nowrap">
        <form method="post" class="w-full text-beige flex flex-col space-y-4">
            {% csrf_token %}
            
            <div class="w-full">
                <!-- Office field -->
                <div>
                    <label for="office" class="block text-beige">{{form.office.label}}</label>
                    {{form.office}}
                    {% if form.office.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.office.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <!-- Username field -->
                <div>
                    <label for="username" class="block">{{form.username.label}}</label>
                    {{form.username}}
                    {% if form.username.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <!-- Email field -->
                <div>
                    <label for="email" class="block">{{form.email.label}}</label>
                    {{form.email}}
                    {% if form.email.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- First name field -->
                <div>
                    <label for="first_name" class="block">{{form.first_name.label}}</label>
                    {{form.first_name}}
                    {% if form.first_name.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.first_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Last name field -->
                <div>
                    <label for="last_name" class="block">{{form.last_name.label}}</label>
                    {{form.last_name}}
                    {% if form.last_name.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.last_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Password1 field -->
                <div>
                    <label for="password1" class="block">{{form.password1.label}}</label>
                    {{form.password1}}
                    {% if form.password1.errors %}
                        <ul class="text-red-500 text-sm mt-1">
                            {% for error in form.password1.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Password2 field -->
                <div>
                    <label for="password2" class="block">{{form.password2.label}}</label>
                    {{form.password2}}
                    {% if form.password2.errors %}
                        <ul class="font-bold text-red-500 text-sm mt-1">
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Submit button -->
                <button type="submit" class="mt-2 w-1/4 border-navyBlue border-2 p-2 rounded-full bg-beige text-navyBlue hover:bg-navyBlue hover:text-beige transition duration-200">
                    Create User
                </button>
            </div>

            
        </form>
        <div class="w-1/2 bg-beige rounded-xl mx-2">
 
        </div> 
    </div>
</div>
{% endblock %}
