<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.getElementById("loading-spinner").style.display = "none";   
                document.getElementById("content").classList.remove("opacity-0");    
                document.getElementById("content").classList.add("opacity-100");    
            }, 300);  
        });
    </script>
</head>

<body class="bg-gradient-to-r from-beige to-navyLightestBlue w-full min-h-screen flex flex-col">

    {% include 'navbar.html' %}

    <div id="loading-spinner" class="fixed inset-0 flex justify-center items-center bg-white bg-opacity-75">
        <div class="animate-spin h-12 w-12 border-t-4 border-blue-500 border-solid rounded-full"></div>
    </div>

    <main id="content" class="flex-grow flex flex-col opacity-0 transition-opacity duration-500 ease-in-out w-11/12 mx-auto py-4 {% block center_content %}flex items-center justify-center{% endblock %}">
        {% block content %}
        {% endblock %}
    </main>
   
    {% include 'footer.html' %}
</body>

</html>
